:root {
    --toastify-icon-color-info: rgb(82, 213, 29);
}

.ts-toast-container {
    z-index: 100;
}

.ts-toast-container .Toastify__toast {
    background: #333;
    color: snow;
}

.ts-toast-container .Toastify__toast a {
    color: rgb(225, 252, 175);
}

.ts-toast-container .Toastify__toast a:hover {
    color: rgb(190, 251, 76);
}

.ts-toast-progress {
    background: #91fb18;
}